@model System.Collections.Generic.List<Retroly.Models.Game>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Games List </h2>
<div> </div>
<div class="btn btn-primary">
    @Html.ActionLink("Add Game", "New", "Game")
</div>
<h3> </h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
         </tr>
    </thead>
    <tbody>
       @foreach (var game in Model)
        {
        <tr>
            <td>@game.Id</td>
            <td>@Html.ActionLink(game.Name,"Edit", "Game", new {id = game.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>